@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

input[type='submit'] {
    margin-top: 5px;
}

.background {
    min-height: 100vh;
    padding-top: 80px;
}
.menu-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* 그리드 가운데 정렬 */
.box-wrap {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 450px 450px 450px;
    margin-left: 100px;
}
.box-wrap-ver2 {
    width: 95%;
    margin: auto;
}
/* 레이아웃 어긋나는 핵심 코드들*/
.img-box {
    width: 400px;
    height: 180px;
    margin: 10px; 
}
.img-box .img {
    width: 230px;    
    height: 180px;
    background-size: cover;
    float: left;
    margin-right: 10px;
}

.description {
    text-align: left;
}
.img-box h2 {
    font-family: 'font-iropke-batang';
    font-size: 1.2rem;
    font-weight: bold;
    padding: 30px 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.img-box p {
    font-family: 'font-iropke-batang';
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    padding-bottom: 15px ;
}