#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper {
  padding-top: 280px;
  width: 600px; /*240*/
  height: 500px; /*320*/
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-slide:nth-child(2n) {
    background-image: url(../img/chicken.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-slide:nth-child(3n) {
    background-image: url(../img/dongase.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-slide:nth-child(4n) {
    background-image: url(../img/chinese.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-slide:nth-child(5n) {
    background-image: url(../img/ramen.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-slide:nth-child(6n) {
    background-image: url(../img/tteok.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-slide:nth-child(7n) {
    background-image: url(../img/pork.jpg);
    background-size: cover;
    background-position: center;
}
